APP_NAME="Nusantara Tech SIA"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

DB_ROOT_PASSWORD=rootpassword
DB_DATABASE=nusantara_db
DB_USERNAME=nusantara_user
DB_PASSWORD=nusantara_pass

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123
MINIO_BUCKET=nusantara-uploads
AWS_URL=http://localhost:9000/nusantara-uploads
